<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SCF</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.scf.login.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNew</display-name>
    <servlet-name>AddNew</servlet-name>
    <servlet-class>com.scf.news.servlet.AddNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNew</servlet-name>
    <url-pattern>/AddNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectNews</display-name>
    <servlet-name>SelectNews</servlet-name>
    <servlet-class>com.scf.news.servlet.SelectNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectNews</servlet-name>
    <url-pattern>/SelectNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellectAllNotice</display-name>
    <servlet-name>SellectAllNotice</servlet-name>
    <servlet-class>com.scf.news.servlet.SellectAllNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellectAllNotice</servlet-name>
    <url-pattern>/SellectAllNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNotice</display-name>
    <servlet-name>DeleteNotice</servlet-name>
    <servlet-class>com.scf.news.servlet.DeleteNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNotice</servlet-name>
    <url-pattern>/DeleteNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterNotice</display-name>
    <servlet-name>AlterNotice</servlet-name>
    <servlet-class>com.scf.news.servlet.AlterNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterNotice</servlet-name>
    <url-pattern>/AlterNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpLoadFile</display-name>
    <servlet-name>UpLoadFile</servlet-name>
    <servlet-class>com.scf.news.servlet.UpLoadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadFile</servlet-name>
    <url-pattern>/UpLoadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.scf.news.servlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNews</display-name>
    <servlet-name>DeleteNews</servlet-name>
    <servlet-class>com.scf.news.servlet.DeleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNews</servlet-name>
    <url-pattern>/DeleteNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotice</display-name>
    <servlet-name>AddNotice</servlet-name>
    <servlet-class>com.scf.news.servlet.AddNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotice</servlet-name>
    <url-pattern>/AddNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SsellectNews</display-name>
    <servlet-name>SsellectNews</servlet-name>
    <servlet-class>com.scf.news.servlet.SsellectNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SsellectNews</servlet-name>
    <url-pattern>/SsellectNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCategoryServlet</display-name>
    <servlet-name>AllCategoryServlet</servlet-name>
    <servlet-class>com.scf.news.servlet.AllCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCategoryServlet</servlet-name>
    <url-pattern>/allCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellectArticle</display-name>
    <servlet-name>SellectArticle</servlet-name>
    <servlet-class>com.scf.news.servlet.SellectArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellectArticle</servlet-name>
    <url-pattern>/SellectArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.scf.news.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMess</display-name>
    <servlet-name>SelectMess</servlet-name>
    <servlet-class>com.scf.news.servlet.SelectMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMess</servlet-name>
    <url-pattern>/SelectMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Messageboad</display-name>
    <servlet-name>Messageboad</servlet-name>
    <servlet-class>com.scf.news.servlet.Messageboad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messageboad</servlet-name>
    <url-pattern>/Messageboad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test2</display-name>
    <servlet-name>test2</servlet-name>
    <servlet-class>com.scf.news.servlet.test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test2</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile2</display-name>
    <servlet-name>UploadFile2</servlet-name>
    <servlet-class>com.scf.news.servlet.UploadFile2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile2</servlet-name>
    <url-pattern>/UploadFile2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllFile</display-name>
    <servlet-name>SelectAllFile</servlet-name>
    <servlet-class>com.scf.news.servlet.SelectAllFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllFile</servlet-name>
    <url-pattern>/SelectAllFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTNotice</display-name>
    <servlet-name>updateTNotice</servlet-name>
    <servlet-class>com.scf.news.servlet.updateTNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTNotice</servlet-name>
    <url-pattern>/updateTNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterNews</display-name>
    <servlet-name>AlterNews</servlet-name>
    <servlet-class>com.scf.news.servlet.AlterNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterNews</servlet-name>
    <url-pattern>/AlterNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTNews</display-name>
    <servlet-name>updateTNews</servlet-name>
    <servlet-class>com.scf.news.servlet.updateTNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTNews</servlet-name>
    <url-pattern>/updateTNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticle</display-name>
    <servlet-name>AddArticle</servlet-name>
    <servlet-class>com.scf.news.servlet.AddArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticle</servlet-name>
    <url-pattern>/AddArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticle</display-name>
    <servlet-name>DeleteArticle</servlet-name>
    <servlet-class>com.scf.news.servlet.DeleteArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticle</servlet-name>
    <url-pattern>/DeleteArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterArticle</display-name>
    <servlet-name>AlterArticle</servlet-name>
    <servlet-class>com.scf.news.servlet.AlterArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterArticle</servlet-name>
    <url-pattern>/AlterArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTArticle</display-name>
    <servlet-name>updateTArticle</servlet-name>
    <servlet-class>com.scf.news.servlet.updateTArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTArticle</servlet-name>
    <url-pattern>/updateTArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMess</display-name>
    <servlet-name>DeleteMess</servlet-name>
    <servlet-class>com.scf.news.servlet.DeleteMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMess</servlet-name>
    <url-pattern>/DeleteMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDocument</display-name>
    <servlet-name>SelectDocument</servlet-name>
    <servlet-class>com.scf.news.servlet.SelectDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDocument</servlet-name>
    <url-pattern>/SelectDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterDocument</display-name>
    <servlet-name>AlterDocument</servlet-name>
    <servlet-class>com.scf.news.servlet.AlterDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterDocument</servlet-name>
    <url-pattern>/AlterDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTDocument</display-name>
    <servlet-name>updateTDocument</servlet-name>
    <servlet-class>com.scf.news.servlet.updateTDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTDocument</servlet-name>
    <url-pattern>/updateTDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDocument</display-name>
    <servlet-name>DeleteDocument</servlet-name>
    <servlet-class>com.scf.news.servlet.DeleteDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDocument</servlet-name>
    <url-pattern>/DeleteDocument</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allCategorynotice</display-name>
    <servlet-name>allCategorynotice</servlet-name>
    <servlet-class>com.scf.news.servlet.allCategorynotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allCategorynotice</servlet-name>
    <url-pattern>/allCategorynotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allCategorytech</display-name>
    <servlet-name>allCategorytech</servlet-name>
    <servlet-class>com.scf.news.servlet.allCategorytech</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allCategorytech</servlet-name>
    <url-pattern>/allCategorytech</url-pattern>
  </servlet-mapping>
</web-app>